<div class="p-4">
  <div class="m-3">
    <h1>ここはヘルプページです</h1>
  </div>
  <div class="pb-5 text-blue-600 underline decoration-gray-800 hover:opacity-80 focus:outline-none focus:opacity-80 dark:decoration-white">
    <p><%= link_to "ホームへ戻る", root_path %></p>
  </div>
</div>