<div class="p-4">
  <div class="m-3">
    <h1>ここはダッシュボード</h1>
  </div>
  <div class="p-3">
    <p>現在のログインユーザーは "<%= Current.user.email_address %>" です</p>
    <p class="text-blue-600 underline"><%= link_to "マイページ", users_path %></p>
  </div>
  <div>
    <ul>
      <li class="text-blue-600 underline">
        <%= link_to "ヘルプ", static_pages_help_path %>
      </li>
      <li class="text-blue-600 underline">
        <%= link_to "ログアウト", session_path, data: { turbo_method: :delete } %>
      </li>
    </ul>
  </div>
</div>