<h1 class="text-3xl font-bold underline">ここはマイページです</h1>

<p>現在のログインユーザーは "<%= Current.user.email_address %>" です</p>

<p><%= link_to "ヘルプ", static_pages_help_path %></p>

<%=  link_to "ログアウト", session_path, data: { turbo_method: :delete } %>